<div class="page-header">
  <%= link_to request_access_tos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New request_access_to</h1>
</div>

<%= render 'form' %>
