<div class="page-header">
  <%= link_to collaborates_ins_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New collaborates_in</h1>
</div>

<%= render 'form' %>
