<div class="page-header">
  <%= link_to countries_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<% if @is_admin %>
	  <%= link_to edit_country_path(@country), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Edit
	  <% end %>
	<% end %>
  <h1>Show country</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @country.name %></dd>

</dl>

<dl class="dl-horizontal">
	<dt>Artists:</dt>
	<dd><ul>
		<% @artists.each do |artist| %>
			<li>
    			<%= link_to artist.name, artist %>
			</li>
		<% end %>
	</ul></dd>
</dl>
